* {
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%; /* Opcional, dependendo do layout desejado */
  width: 100%;
  background-color: #f2f2f2;
}
